h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.25;
  color: var(--heading-color);
}

h1 {
  font-size: 2rem;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

ul {
  margin-top: 0;
  margin-bottom: var(--spacer);
  padding-left: var(--spacer-2);
}

li {
  margin-bottom: .1rem;
}
