<!doctype html>
<html lang="en" data-theme="pretty-dark">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead" style="margin-top: 2em">
        <h2 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home" class="headerButton">{{ site.title }}</a>

          <medium style="float:right;">
            <a href="{{ site.githubURL }}"><i class="cib-github"></i></a>
            <a href="{{ site.linkedinURL }}" class="headerButtonPadded"><i class="cib-linkedin"></i></a>
            <a href="{{ site.leetcodeURL }}" class="headerButtonPadded"><i class="cib-leetcode"></i></a>
          </medium>
        </h3>

        <hr style="border: 1px solid white; opacity: 0.5">

      </header>

      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
